<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="LogToFile" fileName="cviewer/logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %-5level %logger - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.example" level="info" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>